Для использования сервиса, пожалуйста, <%= link_to "зарегистрируйтесь", new_user_path %> или <%= link_to "войдите", login_path %>.
<h1>Изучения язык посредством карточек.</h1>
<%= image_tag "http://www.firebirdcommunications.com/wp-content/uploads/2012/02/FlashCardMakerPro_512.jpg" %>
<p>
  Изучение языков в наше время — насущная необходимость для каждого, кто хочет иметь вес в современном обществе. Зная иностранный язык (хотя бы самый распространённый — английский) уже можно расширить границы своих возможностей почти в любой сфере деятельности.
</p>
<p>
  Даже если просто поехать в отпуск в другую страну, знание английского сделает отдых намного комфортнее. Не будет ощущения "я - глухонемой" и можно будет избежать множества проблем. Что же такое язык?
</p>
<p>
  Язык — знаковая система, соотносящая понятийное содержание и типовое звучание (написание). Но это просто сухая терминология. На самом деле, когда находишься в чужой среде знание иностранного языка добавляет новое "шестое" чувство. Вы слышите что-то и понимаете это. Видите надписи и они не выглядят каракулями. И тогда не нужно напрягаться, пытаясь понять, чего от Вас хотят. И это хорошо.
</p>