<div id="row">
  <table class = "table">
    <tr>
      <td><b>Оригинальный текст</b></td>
      <td><b>Перевод</b></td>
      <td><b>Дата просмотра</b></td>
    </tr>
    </div>
      <% @cards.each do |card| %>
        <tr>
          <td><%= card.origin_text %></td>
          <td><%= card.translated_text %></td>
          <td><%= card.review_date %></td>
        </tr>
    <% end %>
</div>
