.col-md-12.content {
  p {
    font-size: 16px;
  }
  .card {
    text-align: center;
    font-size: 19px;
    .col-md-6.translated {
      padding-top: 12%;
    }
  }
  .flashcards {
    float: left;
    max-width: 500px;
  }
}
