<<<<<<< HEAD
.col-md-12.content {
  p {
    font-size: 22px;
  }
}
=======
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
>>>>>>> 40cb3aacde8613e63a6e644575a325694260d366
