.col-md-12.content {
  p {
    font-size: 16px;
  }

  .card {
    text-align: center;
    font-size: 19px;

    .col-md-6.translated {
      margin-top: 3%;
    }
  }

  .flashcards {
    float: left;
    max-width: 500px;
  }
}
