header {
  .row {
    border-bottom: solid rgb(195, 194, 194) 1px;
  }
}
.row {
  .col-md-3.avatar {
    img {
      float:right;
    }
  }
}
.table {
  .current_pack {
    background: #F0F0F0;
  }
}
.col-md-9.header_nav {
  margin-top: 20px;
}
ul.nav.nav-pills {
  float: right;
}
.login-panel, .register-panel {
  width: 350px;
  margin: 0 auto;
  margin-top: 11%;
  #login_button, #register_button, #back_button {
    width: 48%;
  }
  label.control-label {
    display: none;
  }
}
.login-panel {
  .field {
    padding-bottom: 14px;
  }
}
